@font-face {
  font-family: BIsansNext;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(fonts/bisansnext-regular.woff2) format('woff2'),
  url(fonts/bisansnext-regular.woff) format('woff');
}

@font-face {
  font-family: BIsansNextBold;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(fonts/bisansnext-bold.woff2) format('woff2'),
  url(fonts/bisansnext-bold.woff) format('woff');
}


body {
  font-family: BIsansNext, sans-serif;
  font-size: 4rem;
  line-height: 1.4;
  width: 100%;
  margin: 0;
}

header {
  text-align: center;
  background: #036;
}

h1 {
  font-size: 5rem;
  color: #FFF;
  margin: 0;
  padding: 1rem;
}

header,
.image,
.text {
  padding: 2rem;
}

.wrapper {
  width: 100%;
}

.image {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

.text {
  color: #2D414B;
}
